<a href="https://colab.research.google.com/github/hyunjung930/sesac-web/blob/main/%ED%86%B5%EA%B3%84%EB%B6%84%EC%84%9D%EC%8B%9C%EA%B0%81%ED%99%94_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series

In [1]:
import pandas as pd  # pd로 줄여서 사용

s = pd.Series(seq_data)

In [2]:
s = pd.Series([1,2,3,4,5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
print(s.index) # defalt 0으로 시작 #index를 개발자가 지정할 수도 있다,.

RangeIndex(start=0, stop=5, step=1)

In [4]:
print(s.values)

[1 2 3 4 5]

In [9]:
s = pd.Series(["홍길동","제갈길동","부길동"])
print(s)

0     홍길동
1    제갈길동
2     부길동
dtype: object

In [13]:
subjects=["국어","영어","수학"]
s = pd.Series([90,85,30],index = subjects)
print(s)

국어    90
영어    85
수학    30
dtype: int64

결측치를 무엇으로 표현 할 것인가?
(결측치: 비어있는 값)

표현 방식
np.nan

0

기타 값

In [16]:
import numpy as np
s1 = pd.Series([np.nan,10,30])
s2 = pd.Series([None,10,30])
s3 = pd.Series([0,10,30])
s4 = pd.Series([-1,10,30])
print(s1)
print(s2)
print(s3)
print(s4)

0     NaN
1    10.0
2    30.0
dtype: float64
0     NaN
1    10.0
2    30.0
dtype: float64
0     0
1    10
2    30
dtype: int64
0    -1
1    10
2    30
dtype: int64

In [27]:
a = [1,2,3]
b = [1,2,3]
c = a
print(a==b) # 값을 비교
print(a is b) # 참조를 비교
print(a==c) # 값을 비교
print(a is c) # 참조를 비교 동일한 개체를 비교시에는 is를 사용한다.

True
False
True
True

In [17]:
print(np.nan == np.nan)
print(None == None)
print(np.nan is np.nan)
print(None is None)

False
True
True
True

# 날짜 시퀀스

In [20]:
s = pd.date_range(start ='2019-01-01', end = '2022-02-28')
print(s)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2022-02-19', '2022-02-20', '2022-02-21', '2022-02-22',
               '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-26',
               '2022-02-27', '2022-02-28'],
              dtype='datetime64[ns]', length=1155, freq='D')

In [21]:
s = pd.date_range(start ='2019/01/01', end = '2022-02-28')
print(s)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2022-02-19', '2022-02-20', '2022-02-21', '2022-02-22',
               '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-26',
               '2022-02-27', '2022-02-28'],
              dtype='datetime64[ns]', length=1155, freq='D')

In [22]:
s = pd.date_range(start ='2019/01/01', end = '2022.02.28')
print(s)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2022-02-19', '2022-02-20', '2022-02-21', '2022-02-22',
               '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-26',
               '2022-02-27', '2022-02-28'],
              dtype='datetime64[ns]', length=1155, freq='D')

In [25]:
s = pd.date_range(start ='2019/01/01', end = '2022-02-28', freq='2B')
print(s)

DatetimeIndex(['2019-01-01', '2019-01-03', '2019-01-07', '2019-01-09',
               '2019-01-11', '2019-01-15', '2019-01-17', '2019-01-21',
               '2019-01-23', '2019-01-25',
               ...
               '2022-02-02', '2022-02-04', '2022-02-08', '2022-02-10',
               '2022-02-14', '2022-02-16', '2022-02-18', '2022-02-22',
               '2022-02-24', '2022-02-28'],
              dtype='datetime64[ns]', length=413, freq='2B')

In [26]:
s = pd.date_range(start ='2019/01/01', end = '2022-02-28', freq='2W')
print(s)

DatetimeIndex(['2019-01-06', '2019-01-20', '2019-02-03', '2019-02-17',
               '2019-03-03', '2019-03-17', '2019-03-31', '2019-04-14',
               '2019-04-28', '2019-05-12', '2019-05-26', '2019-06-09',
               '2019-06-23', '2019-07-07', '2019-07-21', '2019-08-04',
               '2019-08-18', '2019-09-01', '2019-09-15', '2019-09-29',
               '2019-10-13', '2019-10-27', '2019-11-10', '2019-11-24',
               '2019-12-08', '2019-12-22', '2020-01-05', '2020-01-19',
               '2020-02-02', '2020-02-16', '2020-03-01', '2020-03-15',
               '2020-03-29', '2020-04-12', '2020-04-26', '2020-05-10',
               '2020-05-24', '2020-06-07', '2020-06-21', '2020-07-05',
               '2020-07-19', '2020-08-02', '2020-08-16', '2020-08-30',
               '2020-09-13', '2020-09-27', '2020-10-11', '2020-10-25',
               '2020-11-08', '2020-11-22', '2020-12-06', '2020-12-20',
               '2021-01-03', '2021-01-17', '2021-01-31', '2021-02-14',
               '2021-02-28', '2021-03-14', '2021-03-28', '2021-04-11',
               '2021-04-25', '2021-05-09', '2021-05-23', '2021-06-06',
               '2021-06-20', '2021-07-04', '2021-07-18', '2021-08-01',
               '2021-08-15', '2021-08-29', '2021-09-12', '2021-09-26',
               '2021-10-10', '2021-10-24', '2021-11-07', '2021-11-21',
               '2021-12-05', '2021-12-19', '2022-01-02', '2022-01-16',
               '2022-01-30', '2022-02-13', '2022-02-27'],
              dtype='datetime64[ns]', freq='2W-SUN')

# DataFrame

df = pd.DataFrame(data)

data matrix형태

In [29]:
df = pd.DataFrame([["홍길동",90,80,70],["독고길동",70,70,99]])
print(df)

      0   1   2   3
0   홍길동  90  80  70
1  독고길동  70  70  99

In [30]:
print(df.index) # 출력값을 행

RangeIndex(start=0, stop=2, step=1)

In [31]:
print(df.columns)

RangeIndex(start=0, stop=4, step=1)

In [32]:
print(df.values)

[['홍길동' 90 80 70]
 ['독고길동' 70 70 99]]

In [34]:
nums = [1,2]
cnames = ["이름","국어","수학","영어"]
df = pd.DataFrame([["홍길동",90,80,70],["독고길동",70,70,99]],index= nums,columns=cnames)
# index와 columns를 개발자가 직접 부여도 가능하다
print(df)

     이름  국어  수학  영어
1   홍길동  90  80  70
2  독고길동  70  70  99

In [41]:
table_data = {"연도": [2019,2020,2021], # 튜플로 되어있는 것도 입력데이터로 사용 가능 
              "매출": [100,None,120],
              "가격": [100,1,20]}
df = pd.DataFrame(table_data)
print(df)

     연도     매출   가격
0  2019  100.0  100
1  2020    NaN    1
2  2021  120.0   20

In [39]:
print(df.info()) # n이나 none 둘다 결측치로 사용

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      3 non-null      int64
 1   매출      2 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 176.0 bytes
None

In [40]:
print(df.describe())

           연도          매출
count     3.0    2.000000
mean   2020.0  110.000000
std       1.0   14.142136
min    2019.0  100.000000
25%    2019.5  105.000000
50%    2020.0  110.000000
75%    2020.5  115.000000
max    2021.0  120.000000

# DataFrame 데이터 연산

In [43]:
s1 = pd.Series([1,2,3,4,5]) #pandas 모듈에서는 같은 row와 열을 더한다(행렬식 때문)
s2 = pd.Series([7,8,9,10,])
s3 = s1 + s2
print(s1)
print(s2)
print(s3)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     7
1     8
2     9
3    10
dtype: int64
0     8.0
1    10.0
2    12.0
3    14.0
4     NaN
dtype: float64

In [44]:
#연산 More
s1 = pd.Series([1,2,3,4],index = ['a','b','c','d'])
s2 = pd.Series([2,3,7,8],index = ['a','c','d','e'])
s3 = s1 + s2
print(s3)

a     3.0
b     NaN
c     6.0
d    11.0
e     NaN
dtype: float64

# DataFrame 데이터 연산

In [45]:
data1 = {"홍길동": [90,85,70],
        "제갈길동":[88,80,44],
        "독고길동": [100,77,33]}
df1 = pd.DataFrame(data1)

In [46]:
data2 = {"홍길동": [100,85,70],
        "제갈길동":[88,100,44],
        "독고길동": [100,77,66]}
df2 = pd.DataFrame(data2)

In [47]:
print(df1)
print(df2)

   홍길동  제갈길동  독고길동
0   90    88   100
1   85    80    77
2   70    44    33
   홍길동  제갈길동  독고길동
0  100    88   100
1   85   100    77
2   70    44    66

In [48]:
df3 = df1 + df2 # 연산결과에 결측치가 있다면 결과 값 자체가 결측치로 출력
print(df3)

   홍길동  제갈길동  독고길동
0  190   176   200
1  170   180   154
2  140    88    99

In [49]:
df3.mean()

홍길동     166.666667
제갈길동    148.000000
독고길동    151.000000
dtype: float64

In [51]:
df3.var()

홍길동      633.333333
제갈길동    2704.000000
독고길동    2557.000000
dtype: float64

In [52]:
print(df3.mean())
print(df3.mean(axis = 1)) # axis: 디폴트 0

홍길동     166.666667
제갈길동    148.000000
독고길동    151.000000
dtype: float64
0    188.666667
1    168.000000
2    109.000000
dtype: float64

In [53]:
df3

   홍길동  제갈길동  독고길동
0  190   176   200
1  170   180   154
2  140    88    99

In [56]:
df3.head(2) #데이터가 많을 때 위에서부터 5개까지 출력, 뒤부터 사용하고싶으면 tail로 작성하여 출력

   홍길동  제갈길동  독고길동
0  190   176   200
1  170   180   154

df.head([n]) 앞쪽 데이터를 확인(디폴트 n=5)

df.tail([n]) 뒤쪽 데이터를 확인(디폴트 n=5)

In [57]:
df = pd.read_csv('/content/drive/MyDrive/module/iris.csv')
print(df)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [58]:
df.head(3)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [59]:
df.tail(3)

     sepal.length  sepal.width  petal.length  petal.width    variety
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [60]:
df[50:55] # 슬라이스 (하나의 row가 하나의 데이터로 생각하기)

    sepal.length  sepal.width  petal.length  petal.width     variety
50           7.0          3.2           4.7          1.4  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor

In [62]:
df.loc[50:55] # Pandas 버전에 따라서 index 보여주는 창이 다를 수 있음

    sepal.length  sepal.width  petal.length  petal.width     variety
50           7.0          3.2           4.7          1.4  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor
55           5.7          2.8           4.5          1.3  Versicolor

In [64]:
print(df['petal.length'][0]) # 
#print(df[0]['petal.length'])

1.4

In [65]:
print(df.loc[0]['petal.length'])

1.4

In [66]:
print(df.loc[0,'petal.length'])

1.4

In [61]:
df.loc[50]

sepal.length           7.0
sepal.width            3.2
petal.length           4.7
petal.width            1.4
variety         Versicolor
Name: 50, dtype: object

In [67]:
df.T

                 0       1       2    ...        147        148        149
sepal.length     5.1     4.9     4.7  ...        6.5        6.2        5.9
sepal.width      3.5     3.0     3.2  ...        3.0        3.4        3.0
petal.length     1.4     1.4     1.3  ...        5.2        5.4        5.1
petal.width      0.2     0.2     0.2  ...        2.0        2.3        1.8
variety       Setosa  Setosa  Setosa  ...  Virginica  Virginica  Virginica

[5 rows x 150 columns]