<a href="https://colab.research.google.com/github/hyunjung930/sesac-web/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%95%A8%EC%88%98_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
folder = '/content/drive/MyDrive/python/'

In [13]:
members = [
          ["홍길동",90,85,88],
          ["제갈길동",80,88,90],
          ["독고길동",90,95,100]
          ]

In [14]:
fname = folder + "mscores.csv"
fname

'/content/drive/MyDrive/python/mscores.csv'

In [26]:
#with open(fname,'w')as fs:
  #print("um")
fs = open(fname,'w')
for member in members:
  fs.write(f"{member[0]},{member[1]},{member[2]},{member[3]}\n")
fs.close()

In [27]:
# csv 모듈을 이용해서 출력
import csv
fname2 = folder +"mscores2.csv"
fs = open(fname, 'w', newline ='')
sw = csv.writer(fs, delimiter=',')
for member in members:
    sw.writerow(member)
fs.close()

In [28]:
fs = open(fname,'r')
data = fs.read()
fs.close()
print(data)

홍길동,90,85,88
제갈길동,80,88,90
독고길동,90,95,100

In [31]:
fs = open(fname,'r')
members=[]
while True:
  record = fs.readline()
  if record =="":
    break
  record.replace("\n","")
  sdata = record.split(',')
  rs =[]
  rs.append(sdata[0])
  for i in range(1,4):
    rs.append(int(sdata[i]))
  members.append(rs)
fs.close()
print(members)

[['홍길동', 90, 85, 88], ['제갈길동', 80, 88, 90], ['독고길동', 90, 95, 100]]

In [34]:
import csv
fs = open(fname, 'r', newline='')
reader = csv.reader(fs)
for row in reader:
  rs =[]
  rs.append(row[0])
  for i in range(1,4):
    rs.append(int(sdata[i]))
  members.append(rs)  
fs.close()
print(members)

[['홍길동', 90, 85, 88], ['제갈길동', 80, 88, 90], ['독고길동', 90, 95, 100], ['홍길동', 90, 95, 100], ['제갈길동', 90, 95, 100], ['독고길동', 90, 95, 100]]

In [37]:
import pandas as pd
members = pd.read_csv(fname,header=None)
members.describe()

               1          2           3
count   3.000000   3.000000    3.000000
mean   86.666667  89.333333   92.666667
std     5.773503   5.131601    6.429101
min    80.000000  85.000000   88.000000
25%    85.000000  86.500000   89.000000
50%    90.000000  88.000000   90.000000
75%    90.000000  91.500000   95.000000
max    90.000000  95.000000  100.000000