<a href="https://colab.research.google.com/github/hyunjung930/sesac-web/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%95%A8%EC%88%98(%EA%B3%A0%EA%B8%89).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 튜플
 여러개의 요소로 구성한 컬렉션

 요소의 값을 변경할 수 없다.

In [1]:
t1 = (1,2,3)
print(type(t1))

<class 'tuple'>

In [3]:
print(t1[0])

1

In [8]:
a,b = (2,3)
print(a,b)

2 3

In [9]:
t = 1,2,3,4  # 내부적으로 tuple로 만들어줌
print(type(t))

<class 'tuple'>

In [10]:
a,b,c = 1,2,3
print(type(a))

<class 'int'>

In [ ]:
a=2
b=3
print(a,b)
a,b = b,a
print(a,b)

In [ ]:
#t1[0]=7 tuple은 요소의 값을 변경할 수 없다.

In [6]:
def get_sum_average(numbers): # 여러개의 값을 도출
  s = 0
  for number in numbers:
    s+=number
  return s, s/len(numbers)

In [5]:
s,aver = get_sum_average([1,2,3,4,5,6])
print(f"합계:{s} 평균:{aver:.2f}")

합계:21 평균:3.50

In [7]:
re = get_sum_average([1,2,3,4,5,6])
print(re)

(21, 3.5)

# 람다

In [11]:
def square(x):
  return x*x

In [12]:
sq = lambda x:x*x

In [13]:
def foo(x):
  print(f"foo({x})")
  return 2*x

In [15]:
re = map(foo,[1,2,3,4])  # 함수와  리스트를 mapping 시켜주는 역할 
for e in re: 
 print(e) #리턴한 값의 목록으로 반환

foo(1)
2
foo(2)
4
foo(3)
6
foo(4)
8

In [16]:
re = map (sq,[1,2,3,4])
for e in re:
  print(e)

1
4
9
16

In [17]:
re = map (lambda x:x+2,[1,2,3,4])
for e in re:
  print(e)

3
4
5
6

In [18]:
def is_odd(x):
  return x%2 ==1

In [19]:
re =filter(is_odd,[1,2,3,4,5,6,7,8,9,10,23,4,23,11])
for e in re:
  print(e)

1
3
5
7
9
23
23
11

In [20]:
re =filter(lambda x:x%2==1,[1,2,3,4,5,6,7,8,9,10,23,4,23,11])
for e in re:
  print(e)

1
3
5
7
9
23
23
11