<a href="https://colab.research.google.com/github/hyunjung930/sesac-web/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%B0%98%EB%B3%B5%EB%AC%B8(%EA%B4%80%EB%A0%A8_%ED%95%A8%EC%88%98).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트 관련 함수

In [5]:
ls = [10, 98, 11, 23, 45, 77, 6]
print("최솟값:", min(ls))
print("최대값:", max(ls))
print("합계: ", sum(ls))

최솟값: 6
최대값: 98
합계:  270

In [6]:
ls.sort()
print(ls)
ls.reverse()
print(ls)

[6, 10, 11, 23, 45, 77, 98]
[98, 77, 45, 23, 11, 10, 6]

In [8]:
rls = reversed(ls)  # 변환 시킨것을 반환시켜줌
for elem in rls:
   print(elem, end =' ')
print()
print(ls)

6 10 11 23 45 77 98
[98, 77, 45, 23, 11, 10, 6]

In [9]:
ls = [3,4,5,10,23,45,9]
els = enumerate(ls)
print(els)

<enumerate object at 0x7f979d196e60>

In [10]:
print(list(els))

[(0, 3), (1, 4), (2, 5), (3, 10), (4, 23), (5, 45), (6, 9)]

In [11]:
ls = [3,4,5,10,23,45,9]  # 리스트의 요소를 반복할 떄 인덱스가 몇번째인지 확이해야 하는 경우 enumerate 사용
for index, elem in enumerate(ls):
  print(f"{index}:{elem}")

0:3
1:4
2:5
3:10
4:23
5:45
6:9

# 딕셔너리

In [12]:
ex_dict = {}
ex_dict["홍길동"] = 78
ex_dict["감길동"] = 78
ex_dict["고길동"] = 78
ex_dict["제갈길동"] = 78
print(ex_dict)

{'홍길동': 78, '감길동': 78, '고길동': 78, '제갈길동': 78}

In [13]:
print(ex_dict.items())

dict_items([('홍길동', 78), ('감길동', 78), ('고길동', 78), ('제갈길동', 78)])

In [14]:
for key, value in ex_dict.items():
 print(f"key:{key} value:{value}")

key:홍길동 value:78
key:감길동 value:78
key:고길동 value:78
key:제갈길동 value:78

In [15]:
sdict = sorted(ex_dict)
print(sdict)

['감길동', '고길동', '제갈길동', '홍길동']