<a href="https://colab.research.google.com/github/hyunjung930/sesac-web/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%95%A8%EC%88%98(%EB%A7%8C%EB%93%A4%EA%B8%B0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수
 : 자주 사용하는 알고리즘에 이름을 부여하여 만든 로직 혹은 코드 블록

- 로직 이름, 입력 매개변수 목록(생략o), 수행할 코드, 반환 값(생략 o)으로 구성

- 함수를 만드는 것을 함수 정의

- 함수를 사용하는 것을 함수 호출

In [1]:
#함수 이름 : foo
# 입력 매개변수: 2개(a,b)
#수행 코드는 두개의 인자를 출력한 후 곱한 값을 반환
# 반환값: a*b
def foo(a,b):
  print(f"a:{a} b:{b}")
  return a*b

In [2]:
re = foo(2,3) # 함수 호출(반환 값을 re에 대입)
print(f"결과: {re}")
foo(3,4) # 함수 호출(반환 값을 무시)

a:2 b:3
결과: 6
a:3 b:4

12

In [3]:
def print_menu():
  print("1: 데이터 추가")
  print("2: 데이터 삭제")
  print("3: 데이터 검색")
  print("4: 전체 데이터 확인")
  print("0: 종료")

In [4]:
def menu_select():
  print_menu()
  return int(input("메뉴 선택: "))

In [ ]:
while True:
  key = menu_select()
  if key==0:
    break
  if key == 1:
    print("데이터 추가")
  elif key== 2:
    print("데이터 삭제")
  elif key== 3:
    print("데이터 검색")
  elif key== 4:
    print("전체 데이터 확인")
  else:
    print("잘못 선택하였습니다.")

특정 범위의 수의 합계를 구하는 함수

In [6]:
def getsum(start,end):
  s=0
  for i in range(start,end +1):
    s+=i
  return s

In [8]:
s = int(input("시작: "))
e = int(input("끝: "))
print(f"{s}~{e} 합계 : {getsum(s,e)}")

print(f"1~100 합계 : {getsum(1,100)}")

시작: 3
끝: 10
3~10 합계 : 52
1~100 합계 : 5050

In [ ]:
#re = getsum(1,2,3) 정의한 함수와 다르게 인자를 전달하고 있음 -Type Error
 #print(re)

In [9]:
print()
print(1)
print(1,2)
print(1,2,end=' ')
print()

1
1 2
1 2

In [10]:
def soo(a, temp=1, yahoo='a'):   #temp는 인자를 전달하지 않을 때 1을 디폴트 값으로, yahoo의 디폴트 값은'a'
  print(a, temp, yahoo)

In [11]:
soo(1)
soo(2,temp=2)
soo(3,yahoo=7)
soo(3, 4)
soo(3,4,5)

1 1 a
2 2 a
3 1 7
3 4 a
3 4 5

In [17]:
def zoo(n=2, *values): # 값이 다른게 올 수도 있음(가변인자)
  print("===")
  print(n)
  for value in values:
    print(value, end=' ')
  print()

In [ ]:
zoo()
zoo(1)
zoo(1,3)
zoo(1,3,4,5)

In [25]:
name = input("이름: ")
print(f"이름: {name}")

이름: 제갈길동
이름: 제갈길동

In [23]:
def square(x):
   return x*x

In [24]:
for i in range(1,5):
  re = square(i)
  print(f"{i}의 제곱: {re}")

1의 제곱: 1
2의 제곱: 4
3의 제곱: 9
4의 제곱: 16

In [30]:
def find_nearest_sum(start,goal):  
  s = 0
  while s < goal:
    s +=start
    start+=1
    if(start == 100):   #start값은 100을 넘을 수 없다.
      return s
  print("find!")
  return s

In [33]:
re = find_nearest_sum(1,2000)  
print(re)
re = find_nearest_sum(1,20000)  
print(re)

find!
2016
4950