<a href="https://colab.research.google.com/github/hyunjung930/sesac-web/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%B0%98%EB%B3%B5%EB%AC%B8(%EB%A6%AC%EC%8A%A4%ED%8A%B8_%ED%8E%B8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for 문

In [4]:
for i in range(10):
 print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [6]:
ls = [3,4,8,9]
for i in ls:  # in 뒤에는 컬렉션
    print(i, end = ' ')

3 4 8 9

In [7]:
input ="홍길동"

In [1]:
ls = ['홍길동','강감찬','고길동','음냐뤼']
name = input ("검색할 회원: ")
if name in ls:
  print("존재합니다.")
else:
  print("없는 회원입니다.")

검색할 회원: 강감찬
존재합니다.

# 간단한 연습 문제

 10명의 회원 이름을 입력받아 출력하시오.

In [3]:
member_names=[]
for i in range(10):
  name = input(f"{i+1}이름: ")  # 문자열 앞에 f로 표현하고 {} 사용하면 1번째, 2번째로 출력
  member_names.append(name)
print(member_names)

1이름: 부현정
2이름: 최현정
3이름: 독고현정
4이름: 선우현정
5이름: 김현정
6이름: 박현정
7이름: 이현정
8이름: 양현정
9이름: 현정
10이름: 제갈현정
['부현정', '최현정', '독고현정', '선우현정', '김현정', '박현정', '이현정', '양현정', '현정', '제갈현정']

# 국어, 영어, 수학 점수를 입력받아 평균을 구하여 출력하시오.
 단, 점수는 리스트에 보관

In [13]:
subjects = ("국어","영어", "수학")
scores = []#점수를 기억할 컬렉션 생성
for i in range(len(subjects)): # 반복 (3과목)
  score = int(input(f"{subjects[i]} 점수 입력: " )) # 점수입력
  scores.append(score) # 컬렉션에 보관
print((scores[0] + scores[1] + scores[2])/3) # 평균 출력

국어 점수 입력: 100
영어 점수 입력: 80
수학 점수 입력: 70
83.33333333333333